{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div class="container">
        <h1 class="my-2">Task Details</h1>
        <div class="job-container row">
            <div class="col-8 p-0">
                <div class="px-4 py-2">
                    <h1>{{ job.title }}</h1>
                    <h5 class="category-item">{{ job.category }}</h5>
                    {% if listed_days_ago > 1 %}
                        <h6>Listed {{listed_days_ago}} days ago</h6>
                    {% elif listed_days_ago == 1 %}
                        <h6>Listed yesterday</h6>
                    {% else %}
                        <h6>Listed today</h6>
                    {% endif %}
                    <h6><b>Project Type: </b>{{ job.get_duration_display }}</h6>
                </div>
                <div class="p-4 job-body">
                    <p>{{job.body}}</p>
                </div>
            </div>
            <div class="about col-4 pt-3">
                <div class="p-4">
                    <button class="btn btn-success btn-block" >Submit Proposal</button>
                    <button class="btn btn-success btn-block" >Save Task</button>
                </div>
                <div class="mt-5" >
                    <h2 class="text-center">About</h2>
                    <h4>{{ job.church.name }}</h4>
                    <h6>Pastor: {{ job.church.pastor_name }}</h6>
                    <h6>{{ job.church.phone }}</h6>
                    <h6>{{ job.church.address.street_number }} {{ job.church.address.route }}</h6>
                    <h6>{{ job.church.address.locality.name }}, {{ job.church.address.locality.state.name }}, {{ job.church.address.locality.postal_code }}</h6>
                    <div class="p-4">
                        <img src="{{ job.church.picture.url }}" width="100%" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}