{% extends 'base.html' %}

{% load bootstrap4 %}

{% block body %}
    <div class="container row mx-auto">
        <div class="col-12 col-lg-8 shadow-container mx-auto px-0 mt-5 mb-3">
            {% if not object_list %}
                <div class="job-link py-5">
                    <h4 class="text-center" >You don't have any proposals yet...</h4>
                </div>
            {% endif %}
            {% for proposal in object_list %}
                <div class="normal-list row mx-auto">
                    <div class="col-10">
                        <a href="{% url 'job:proposal' pk=proposal.pk%}" class="link">
                            <h4>{{proposal.job.title }}</h4>
                        </a>
                        <h6>{{proposal.job.church }}</h6>
                        <h6>{{proposal.timeframe }}</h6>
                        {% if proposal.accepted == None %}
                            <h5>Waiting</h5>
                        {% elif proposal.accepted %}
                            <h5>Accepted!</h5>
                        {% else %}
                            <h5>Rejected</h5>
                        {% endif %}
                    </div>
                    {% if proposal.job.church.user == user %}
                        <div class="col-2">
                            <a href="{% url 'job:manage-proposal' pk=proposal.pk %}?accept=True" class="btn btn-success btn-block mb-0">Accept</a>
                            <a href="{% url 'job:manage-proposal' pk=proposal.pk %}?accept=False" class="btn btn-danger btn-block my-1">Refuse</a>
                            <a href="{% url 'job:delete-proposal' pk=proposal.pk %}" class="btn btn-danger btn-block mt-0">Delete</a>
                        </div>
                    {% elif proposal.user.user == user %}
                        <div class="col-2 my-auto">
                            <a href="{% url 'job:delete-proposal' pk=proposal.pk %}" class="btn btn-danger btn-block">Delete</a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}