{% extends 'base.html' %}

{% load bootstrap4 %}

{% block extra_js %}
    {{ form.media }}
{% endblock %}

{% block body %}
    <div class="container row mx-auto">
        <div class="col-12 col-lg-5 shadow-container mx-auto p-4 mt-5 mb-3"> 
            <h1>Complete Your Profile</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-success">Submit</button> <br>
            </form>
        </div>
    </div>
{% endblock %}