{% extends 'base.html' %}

{% block title%} Signup {% endblock %}

{% load bootstrap4 %}

{% block body %}
    <div class="container row mx-auto mb-2">
        <div class="col-12 col-lg-8 shadow-container mx-auto p-4 mt-5"> 
            <h1>Sign Up</h1>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-success">Sign Up</button>
            </form>
        </div>
    </div>
{% endblock %}