{% extends 'base.html' %}
{% load static %}

{% block title%} {{ volunteer.user.first_name }}'s Profile {% endblock %}

{% block body %}
    <div class="container pt-5">
        <div class="job-container row py-5 mx-auto">
            {% if volunteer.picture %}
            <div class="col-2 mx-auto text-center pr-0 mb-5">
                <img src="{{ volunteer.picture.url}}" width="100%" class="profile-pic" alt="">
            </div>
            {% endif %}
            <div class="col-4 pt-3 pl-0">
                <h4>{{ volunteer.user.first_name }} {{ volunteer.user.last_name }}</h4>
                <h4>{{ volunteer.address.locality.name }}, {{ volunteer.address.locality.state.code }} </h4>
            </div>
            <div class="col-6 border-left">
                <div class="text-right">
                    {% if volunteer.user == user %}
                    <a href="{% url 'user:volunteer-edit' email=volunteer.user.email %}" class="btn btn-success">
                        <i class="fas fa-pencil-alt fa-1x"> Edit</i>
                    </a>
                    {% endif %}
                </div>
                {{ volunteer.intro }}
            </div>
        </div>
    </div>
{% endblock %}