{% extends 'base.html' %}

{% block title%} Voltask {% endblock %}

{% block body %}
<div class="container">
    <div class="col-8 mx-auto">
        <h1 class="text-center mt-2 mb-4">Find Volunteer Tasks</h1>
        <form method="GET" action="/search" class="mx-auto col-lg-10 col-12">
            <input type="search" placeholder="Search" name='searchterm' id="input-box">
            <select name="category" id="dropdown-box">
                <option value="all" selected>All Categories</option>
                {% for category in categories %}
                    <option value="{{ category.category_item }}">{{ category.category_item }}</option>
                {% endfor %}
            </select>
            <button type="submit" id="input-button">
                <i class="fas fa-search"></i>
            </button>
        </form>
        <div class="list-all-box mt-4">
            {% if not object_list %}
                <div class="job-link py-5">
                    <h4 class="text-center" >No tasks match your search...</h4>
                </div>
            {% endif %}
            {% for job in object_list %}
                <a href="{% url 'job:view_job' slug=job.slug%}" class="job-link">
                    <div>
                        <h1>{{job.title}}</h1>
                        <p>{{job.body | truncatechars:170 }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}